<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>icon</key>
		<string>MessageBox.png</string>
		<key>label</key>
		<string>MessageBox</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ca.adambell.messagebox.preferences-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ca.adambell.messagebox</string>
			<key>key</key>
			<string>messageBoxEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enabling both of these will grant unexpected results (might cause the planet to implode).</string>
			<key>height</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ca.adambell.messagebox.preferences-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ca.adambell.messagebox</string>
			<key>key</key>
			<string>messageBoxPaperEnabled</string>
			<key>label</key>
			<string>Paper Enabled</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ca.adambell.messagebox.preferences-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ca.adambell.messagebox</string>
			<key>key</key>
			<string>messageBoxFacebookEnabled</string>
			<key>label</key>
			<string>Facebook Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>MessageBox will disable itself if it detects an unsupported version.
You can enable it manually using this.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ca.adambell.messagebox.preferences-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ca.adambell.messagebox</string>
			<key>key</key>
			<string>messageBoxForceEnabled</string>
			<key>label</key>
			<string>Ignore Version Check</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2014 Adam Bell</string>
			<key>height</key>
			<real>20</real>
		</dict>
	</array>
	<key>title</key>
	<string>MessageBox</string>
</dict>
</plist>
